<!DOCTYPE html>
<html>
<head>
    <style>

    .fontChange{
        font-family: 'Helvetica';
        font-size: 20px;
        font-weight: bold;

    }

        .navbar-nav > li > a {
            color: white;
        }

        .navbar-brand {
            font-size: 30px;
            color: white;
        }

        nav {
            background-color: rgb(151, 0, 65);
        }
    
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:white">
    <nav class="navbar">
        <div class="fontChange container-fluid">
            <div class="navbar-header">
                <img style="width:7vh; height:7vh;" src="~/Content/images/icone2.png" />
                <a class="navbar-brand" href="#">FOODMENU</a>
            </div>
            <ul class="nav navbar-nav" style="height: 100%;">
                <li><a href="#">Restaurante</a></li>
              
                <li><a href="#">Cardápios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
      
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
