@model FoodMenu.Models.Restaurant

@Scripts.Render("~/bundles/jquery")

<div class="container">
    <div class="centro">
        <div class="row text-center">
            <img style="width:120px; height:120px;" src="~/Content/images/brighty_commerce_12.png" />
            <h1 class="text-center">Bem vindo, @Model.NamRestaurant</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-success pull-right btn-lg" onclick="onInfoClick()">
                    <span class="glyphicon glyphicon-info-sign"></span> Informações
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success pull-left btn-lg" onclick="onMenusClick()">
                    <span class="glyphicon glyphicon-list"></span> Cardápios
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    function onInfoClick() {

        var Url = '@Url.Action("Info", "Restaurant")' + "?id=" + @Model.IdRestaurant;
        window.location.href = Url;
    }

    function onMenusClick() {
        var Url = '@Url.Action("Index", "Menu")' + "?id=" + @Model.IdRestaurant;
        window.location.href = Url;

    }

</script>