@model FoodMenu.Models.Restaurant
@Styles.Render("~/Content/food_menu.css")
<head>
    
</head>

<div class="container">
    <div class="centro">
        <h1 class="text-center">Bem vindo, @Model.NamRestaurant</h1>
        <div class="row">
            <div class="col-md-6">
                <button type="button" style="margin-left:20%;" onclick="onInfoClick()">
                    <span class="glyphicon glyphicon-info-sign"></span> Informações
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" style="margin-left:5%;" onclick="onMenusClick()">
                    <span class="glyphicon glyphicon-clutery"></span> Cardápios
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    function onInfoClick() {

        var Url = '@Url.Action("Info", "Restaurant")' + "?id=" + @Model.IdRestaurant;
        window.location.href = Url;
    }

    function onMenusClick() {
        var Url = '@Url.Action("Index", "Menu")' + "?id=" + @Model.IdRestaurant;
        window.location.href = Url;

    }

</script>