@model FoodMenu.Models.Restaurant

@{ 
    ViewBag.Title = "Cardápios";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    <style>

        button {
            color: white;
            background-color: rgb(151, 0, 65);
            border-radius: 20px;
            font-size: 40px;
            margin-left:28%;
        }

        h1 {
            color: rgb(151, 0, 65);
            font-weight: bold;
        }

    </style>

</head>

<center><h1 class="title">Cardápios</h1></center>
<hr />
<br />
<div class="col-md-12" style="height:50vh; width:80vw;">
    <div id="listMenus" class="list-group">
        
    </div>
    <hr />
    <button class="btn btn-default" data-toggle="modal" data-target="#NewMenu">Novo Cardápio</button>


</div>

<div class="modal fade" id="NewMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Cardápio</h4>
            </div>
            <div class="modal-body">


                @Html.Label("", "Nome do Cardápio: ", new { @class = "col-md-4" })
                <div class="col-md-8">
                    @Html.TextBox("NamMenu", "", "", new { @class = "form-control" })
                </div>
                <br />
                <br />
                <br />
                @Html.Label("", "Descrição do Cardápio: ", new { @class = "col-md-4" })
                <div class="col-md-8">
                    @Html.TextBox("DesMenu", "", "", new { @class = "form-control" })
                </div>

                <br />
                <br />
                <br />

            </div>
            <div class="modal-footer">
                <button id="btnSaveMenu" type="button" onclick="salvarMenu(event)" class="btn btn-default" data-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>


            </div>


            <br />
            <br />
        </div>

    </div>
</div>


<script>

    function fillGrid() {

        $("#listMenus").empty();

              $.ajax({
            url: '@Url.Action("GetMenusByRestaurant", "Menu")',
            data: {
                IDRestaurant: '@Model.IdRestaurant'

            },
            error: function () {

            },
            dataType: 'json',
            success: function (list) {
                var array = [];
                array.push(list);
            var lista = array[0];

            for (var i = 0; i < lista.length; i++) {

                var url = '@Url.Action("Menu", "Menu")' + "?id=" + lista[i].IdMenu;
                var menuline = "<a href='" + url + "' id='" + lista[i].IdMenu + "' data-id='" + lista[i].IdMenu + "' class='list-group-item'>" + lista[i].NamMenu + "</a>";
                $("#listMenus").append(menuline);
            }

            },
            type: 'POST'
        });
    }

    $(document).ready(function () {

        fillGrid();



   });

    function salvarMenu(event) {
        event.preventDefault();

        var LNamMenu = $("#NamMenu").val();
        var LDesMenu = $("#DesMenu").val();

        $.ajax({
            url: '@Url.Action("CreateMenu", "Menu")',
            data: {

                NamMenu: LNamMenu,
                DesMenu: LDesMenu,
                IDRestaurant: '@Model.IdRestaurant'

            },
            error: function () {

            },
            dataType: 'json',
            success: function () {

            },
            type: 'POST'
        });

        fillGrid();

    }
</script>