@model FoodMenu.Models.Restaurant

@{ 
    ViewBag.Title = "Cardápios";
}

@Scripts.Render("~/bundles/jquery")

<div class="container">
    <div class="centro centro-lista">
        <h1 class="title text-center">Cardápios</h1>        
        <h2 class="text-center"><small>Clique em um cardápio para visualizar e editar.</small></h2>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-warning btn-lg pull-right" data-toggle="modal" data-target="#NewMenu">Novo Cardápio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="listMenus" class="list-group pre-scrollable"></div>
            </div>  
        </div>
    </div>
</div>
<div class="modal fade" id="NewMenu" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Cardápio</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("", "Nome do Cardápio: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("NamMenu", "", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Descrição do Cardápio: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("DesMenu", "", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveMenu" type="button" onclick="salvarMenu(event)" class="btn btn-success" data-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>

    function fillGrid() {

        $("#listMenus").empty();

              $.ajax({
            url: '@Url.Action("GetMenusByRestaurant", "Menu")',
            data: {
                IDRestaurant: '@Model.IdRestaurant'

            },
            error: function () {

            },
            dataType: 'json',
            success: function (list) {
                var array = [];
                array.push(list);
            var lista = array[0];

            for (var i = 0; i < lista.length; i++) {

                var url = '@Url.Action("Menu", "Menu")' + "?id=" + lista[i].IdMenu;
                var menuline = "<a href='" + url + "' id='" + lista[i].IdMenu + "' data-id='" + lista[i].IdMenu + "' class='list-group-item'>" + lista[i].NamMenu + "</a>";
                $("#listMenus").append(menuline);
            }

            },
            type: 'POST'
        });
    }

    $(document).ready(function () {
        fillGrid();        
   });

    function salvarMenu(event) {
        event.preventDefault();

        var LNamMenu = $("#NamMenu").val();
        var LDesMenu = $("#DesMenu").val();

        $.ajax({
            url: '@Url.Action("CreateMenu", "Menu")',
            data: {

                NamMenu: LNamMenu,
                DesMenu: LDesMenu,
                IDRestaurant: '@Model.IdRestaurant'

            },
            error: function () {

            },
            dataType: 'json',
            success: function () {
                fillGrid();
            },
            type: 'POST'
        });

       

    }
</script>