@model FoodMenu.Models.Menu
@{
    ViewBag.Title = "Cardápio";
}

@Scripts.Render("~/bundles/jquery")


@Html.Hidden("idModal", "")
<head>
    <script src="~/Scripts/jQueryMask.js"></script>
</head>
<div class="container">
    <div class="centro centro-lista">
        <div class="form-horizontal">           
            <h1 class="text-left">1. Dados do Cardápio</h1>            
            <div class="form-group">
                @Html.LabelFor(model => model.NamMenu, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.NamMenu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.NamMenu, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DesMenu, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.DesMenu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.DesMenu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>        
        <h1 class="text-left">2. Cabeçalhos</h1> 
        <div class="row">
            <button class="btn btn-warning btn-lg pull-right" data-toggle="modal" data-target="#AddHeaderMenu">Adicionar Cabeçalho</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group pre-scrollable" id="headers"></div>
            </div>
        </div>
        
    </div>
</div>
<div class="modal fade" id="AddMenuItem" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Item</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("", "Item: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("txtNamItem", "", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Descrição do Item: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("txtDesItem", "", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Preço: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("txtPreco", "", "", new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("", "Sequencia: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("txtValSeq", "", "", new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveItem" type="button" class="btn btn-success" onclick="btnSaveItem_Click(event)" data-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddHeaderMenu" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Cabeçalho</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("", "Nome do Cabeçalho: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("txtNamHeader", "", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Descrição do Cabeçalho: ", new { @class = "col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBox("txtDesHeader", "", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveHeader" type="button" onclick="btnSaveHeader_Click(event)" class="btn btn-success" data-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var IdModal = 0;

    $(document).ready(function () {
        fillHeadersAndItems();        
    });

    function btnAddItem(button, event) {
        event.preventDefault();
        var button = $(button);
        var id = button.attr("id");
        $("#idModal").val(id);

    }

    function btnSaveItem_Click(event) {

        event.preventDefault();

        var LNamMenuItem = $("#txtNamItem").val();
        var LDesMenuitem = $("#txtDesItem").val();
        var LPrecoItem = $("#txtPreco").val();
        var LIDHeader = $("#idModal").val();
        var LValSeq = $("#txtValSeq").val();

        $.ajax({
            url: '@Url.Action("AddMenuItem", "Menu")',
            data: {

                NamMenuItem: LNamMenuItem,
                DesMenuItem: LDesMenuitem,
                Price: LPrecoItem,
                IDHeader: LIDHeader,
                NumSequence: LValSeq

            },
            error: function () {

            },
            dataType: 'json',
            success: function () {
                fillHeadersAndItems();

            },
            type: 'POST'
        });

    }

    function fillHeadersAndItems() {
        $.ajax({
            url: '@Url.Action("GetHeadersOfMenu", "Menu")',
            data: {
                IDMenu: '@Model.IdMenu'
            },
            error: function () {
            },
            dataType: 'json',
            success: function (list) {
                var array = [];
                array.push(list);
                var lista = array[0];
                for (var i = 0; i < lista.length; i++) {
                    //Para cada Header
                    //var lineHeader = "<div onclick='btnAddItem(this,event)'" + "id=" + lista[0].IdMenuHeader + "><h3>" + lista[0].NamMenuHeader + "</h3><button class='btn-default' id='" + lista[0].IdMenuHeader+  "' data-toggle='modal' data-target='#AddMenuItem'>+</button></div><br/>";
                    var lineHeader = "<a class='list-group-item'>" + lista[i].NamMenuHeader + " <span data-toggle='modal' data-target='#AddMenuItem' onclick='btnAddItem(this,event)' " + "id=" + lista[0].IdMenuHeader + " class='glyphicon glyphicon-plus'><span></a>";
                    
                    for (var j = 0; j < lista[i].MenuItems.length; j++) {

                        var LMenuitem = lista[i].MenuItems[j].NumSequence + " " + lista[i].MenuItems[j].NamMenuItem + " R$ " + lista[i].MenuItems[j].Price;

                        lineHeader += "<li class='list-group-item list-group-item-warning'>" + LMenuitem + "</li>";
                    }                    
                    $("#headers").append(lineHeader);
                    //$("#headers").append("<br/>");
                }
            },
            type: 'GET'
        });
    }

    function btnSaveHeader_Click(event) {
        event.preventDefault();
        var LNamMenuHeader = $("#txtNamHeader").val();
        var LDesMenuHeader = $("#txtDesHeader").val();
         $.ajax({
            url: '@Url.Action("AddMenuHeader", "Menu")',
            data: {
                NamMenuHeader: LNamMenuHeader,
                DesMenuHeader: LDesMenuHeader,
                IDRestaurant: '@Model.IdRestaurant',
                IDMenu: '@Model.IdMenu'
            },
            error: function () {
            },
            dataType: 'json',
            success: function (object) {
                fillHeadersAndItems();
            },
            type: 'GET'
        });
    }
</script>
